
.Form-Wrapper {
    display:table;
    margin:auto;
    color : #FFFFFF;
    font-size: 1.4rem;
    margin-top: 2%;
    width: 40%;
    padding-top: 3%;
    padding-bottom: 3%;
    border : 1px solid #FFFFFF;
    background-color: #121212;
    opacity: 0.7;
    border-radius: 15px;
    box-shadow: 5px 10px #888888;
    z-index: 1;
    margin-top:4rem;
    opacity: 0.7;
}

label {
    float: left;
    width: 30%;
    text-align: right;
}

input {margin-left: 5%;
    text-align: center;
    border:1px solid #234465;
    padding: 0.5%;
    width: 50%;
    border-radius: 6px;
   border:  1px solid black;
   
}

.input-error, .fetch-error{
    font-style: italic;
    text-align: center;
    color: #FFFFFF;
}

.input-error{
    height: 1.2rem;  
    font-size: 1rem;  
}

.fetch-error{
    min-height: 1.6em;
    line-height: 1.5em;
    vertical-align: middle;
    margin-bottom: 5%;
}

button {
    background-color: #555555;
    border: none;
    color: #FFFFFF;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 6px;
    position:relative;
    top:50%; 
    left:50%;
    cursor: pointer;
    box-shadow: 0 3px #999999;
    opacity: 1;
    border : 1px solid #FFFFFF;
    font-size : 1.1em;
} 

button:hover,button:active  { 
     background-color: rgb(5, 5, 5);
    color: #FFFFFF;
    border : 1px solid #FFFFFF;
  } 


button:active {
  box-shadow: 0 5px #666666;
  transform: translateY(4px);
  
}