@import url('https://fonts.googleapis.com/css?family=Beth+Ellen&display=swap');

.Navigation{
    width : 100%;
    height: 5rem;
    background-color: #121212;
    opacity: 0.9;
    color: white;
    display : flex;
    flex-wrap : nowrap;
    justify-content: space-between;
    z-index: 2147483647 !important; 
    position: fixed;
    top: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.logo, .search{
    width: 25%;
}

.logo{
    font-family: 'Beth Ellen', cursive;
    font-size : 2.3em;
    text-align: center;
    line-height: 2.1em;
    color : #313131;
    text-shadow: 1px 1px 2px black, 0 0 1em white, 0 0 0.2em white;
    border:none;
}

.main-section{
    width : auto;
    font-size : 1.5rem;
}

.search{
    
}

  
  nav {
      font-family: monospace;
  }
  
  ul {
    background: black;
      list-style: none;
      margin: 0;
      padding-left: 0;
  }
  
  li {
      color: #fff;
      background: black;
      display: block;
      float: left;
      padding: 1rem;
      position: relative;
      transition-duration: 0.5s;
      list-style: none;
      border-bottom: 1px solid white;
  }
    
  li a {
    color: #fff;
    list-style: none;
    text-decoration: none;
    z-index: 999;
  }
  
  li:hover {
      background: gray;
      cursor: pointer;
      opacity: 1;
  }

  li a:hover {
    color:white;
    text-decoration: none;
    z-index: 999;
  }
  
  ul li ul {
    background: black;
    visibility: hidden;
    opacity: inherit;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
  }
  
  ul li:hover > ul,
  ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
  
  }
  
  ul li ul li {
      clear: both;
      width: 100%;
      z-index: 999;
  }

  .greating{
    border-bottom   : 1px solid white;
    font-size : 1.2em;
    text-align: center;
    background-color: black;
    opacity: 0.9;
    position: fixed;
    width: 100%;
    margin-top: 5rem;
}