.App{
    width:100%;
}

.main-container{
   padding-top: 5rem;  
   padding-bottom: 5rem;
   color: white;
   min-height: 45rem;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs    ;
}

