.not-found-wrapper{
    margin: 6% auto;
    text-align: center;
}

.four-o-four{
    font-size: 100px;
    padding-bottom: 2%;
}
.not-found-message{
    font-size: 30px;
}

.back-btn{
    margin-left: -200px;
}
.button-wrapper{
    width: 200px;
    margin : 0 auto;
    margin-top: 3%;
}